body        {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6      {
    font-family: "Oswald", sans-serif;
}

header      {
    height: 80px;
}

.section-header         {
    border: 1px solid yellow;
    text-align: center;
}

.section-header h2      {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.container      {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar         {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    box-sizing: border-box;
    background: #424242;
    width: 100%;
    padding: 10px 100px;
    transition: .5s
}

.toggle         {
    text-align: right;
    font-size: 30px;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    display: none;
}

.navbar-brand       {
    float: left;
    display: inline-block;
     padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    white-space: nowrap;
    border: 1px solid red;
    line-height: 40px;
}

/* . navbar-brand img       {
    border: 1px solid green;
} */
 
nav ul      {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav     {
    display: flex;
}

nav ul li a         {
    line-height: 70px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: "Roboto", "Open Sans";
    font-weight: 700;
}


#home, #features, #products, #contact, #testimonials       {
    margin-bottom: 50px;
}

.home       {
    min-height: 100vh;
    background-image: url("../images/stone-bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    background-attachment: fixed;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.home .main-title       {
    color: green;
    margin-top: 30vh;
    font-weight: 700;
    font-family: "Oswald";
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}
.grid       {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

 .features .icon         {
    background-color: #428bca;
    border: 4px solid #428bca;
    color: #fff;
    display: block;
    font-size: 80px;
    height: 148px;
    line-height: 140px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 148px;
    border-radius: 50%;
} 